# =========================
# Virtuelle Umgebung
# =========================
.venv/
venv/
__pycache__/
*.py[cod]

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# VS Code
# =========================
.vscode/
*.code-workspace

# =========================
# OS/Editor-spezifisch
# =========================
Thumbs.db
.DS_Store
*.swp

# =========================
# config-Daten
# =========================
/static/config/secrets.js
config.py